@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body {
  font-family: 'Courier New', monospace;
  background-color: #2c263a;
  color: #9a72ff;
  accent-color: #d362d9 ;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 2;
}

.hero-image img {
  width: 100%;
  border-radius: 20px;
}

nav {
  display: flex;
  gap: 4rem;
  padding: 1rem 2rem;
  background-color: #2c263a;
  justify-content: center;  
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;          
}

nav a:hover {
  color: #d362d9;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 8rem;
  
}

a {
  text-decoration: none;
}